@import "~materialize-css/dist/css/materialize.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.table-wrap {
  padding: 30px;
}
.d-block {
  display: block;
}

.pagination li {
  cursor: pointer;
  a {
    outline: none;
  }
}

.text-center {
  text-align: center;
}
